beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1733230845337/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
build==1.2.2.post1
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560556141/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
conda-souschef @ file:///home/conda/feedstock_root/build_artifacts/conda-souschef_1661977243124/work
cryptography==44.0.0
docutils==0.21.2
grayskull @ file:///home/conda/feedstock_root/build_artifacts/grayskull_1735558666161/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
id==1.5.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
keyring==25.6.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.6.0
nh3==0.2.20
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1737331041031/work/dist/numpy-2.2.2-cp313-cp313-linux_x86_64.whl#sha256=010290188fd9addcaca3d5f16bf5e00e3a89c7ad38f803db33494907f4cf9634
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1733734533957/work
progressbar2 @ file:///home/conda/feedstock_root/build_artifacts/progressbar2_1734172870593/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
Pygments==2.19.1
pyproject_hooks==1.2.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-utils @ file:///home/conda/feedstock_root/build_artifacts/python-utils_1734115181035/work
RapidFuzz @ file:///home/conda/feedstock_root/build_artifacts/rapidfuzz_1734508644263/work
readme_renderer==44.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1736248041952/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1728724451745/work
ruamel.yaml.jinja2 @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.jinja2_1734910766942/work
SecretStorage==3.3.3
setuptools==75.8.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
stdlib-list @ file:///home/conda/feedstock_root/build_artifacts/stdlib-list_1734281211342/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tomli_w @ file:///home/conda/feedstock_root/build_artifacts/tomli-w_1736962227066/work
twine==6.1.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
zstandard==0.23.0
